img{
    height: 183px;
    width: auto;
}
.container-menu{
    width: 33%;
    background: rgb(46, 156, 46);
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 300px;
}
input{
    width: 45%;
    border:1px solid green;
    height: 30px;
    margin:auto 0;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-size: 15px;
}

[type="button"]{
    cursor: pointer;
}
div{
    margin-bottom: 10px;
}
body{
    display: flex; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}